<%= simple_form_for @event do |f| %>
  <p><%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
  <br><br>
  <h4>Select an Image</h4>
  <p><%= f.file_field :event_img %></p>
  <p><%= f.input :title, label: "Event Title" %></p>
  <p><%= f.input :description %></p>
  <p><%= f.input :location %></p>
  <p><%= f.input :amount %></p>
  <p><%= f.button :submit %></p>
<% end %>
