<h1>Edit Event</h1>

<%= simple_form_for @event, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.input :title, label: "event title" %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :amount %>
  <%= f.button :submit %>
<% end %>