<div class="row">
<br />

	<div class="col-md-12">
           <%= image_tag @event.event_img.url(:event_show), class:"event-show" %>
    </div>

    <div class="col-md-8">
        <h2><%= @event.title %></h2>
        <h3><%= @event.amount %></h3>
        <h4> Category: <%= @event.category.name %></h4>
        <p><%= @event.description %></p>
        <p><%= @event.location %></p>
    </div>

</div>

<head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>Find the location here</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwqcMFraiEZnU-bUFZ2fNpkclM_uDosJw&callback=initMap">
    </script>
  </body>

<div class="row">
	<div class="col-md-4">
    <br />
    <br />
    <b><%= "Comment Board" %></b>
    <p><%= "----------------------------------" %></p>
     <% if user_signed_in? %>
             <br />
             <%= render @event.comments %>
             <div>
                <%= link_to "Add Comment", new_event_comment_path(@event) %>
             </div>
      <% end %>

	</div>
</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

  <% if @event.user_id == current_user.id || current_user.id == 1 %>

   <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "are you sure?"} %>
   <%= link_to "Edit", edit_event_path(@event) %>

  <% end %>

<% end %>
